# Exclude data from source control
/data/
# Exclude VSCode settings from source control
/.vscode/
# Exclude notebook checkpoints from source control
/notebooks/.ipynb_checkpoints/
# Exclude troubleshooting
/src/troubleshooting/
# Exclude models
/trained_models/
# Exclude images
/img/
