# Exclude data from source control
/data/
# Exclude VSCode settings from source control
/.vscode/
# Exclude notebook checkpoints from source control
/notebooks/.ipynb_checkpoints/
# Exclude old and not strictly necessary notebooks
/notebooks/extra/
/notebooks/old/
/notebooks/examples/
# Exclude troubleshooting
/src/troubleshooting/
# Exclude models
/trained_models/
# Exclude images
/img/
# Exclude pycache
/src/__pycache__/
/src/data/__pycache__/
/src/models/__pycache__/
# Exclude others
conv_models_details.txt
